{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% include '_partials/_navbar.html.twig' %}
    
    <div class="container text-center mt-5">
        <div class="alert alert-success mb-4">
            <h1 class="display-4">Bonjour, {{ username }}!</h1>
            <p>Vous êtes connecté avec succès. Vous pouvez maintenant accéder à votre profil ou vous déconnecter.</p>
        </div>
        
        <a href="{{ path('app_ok') }}" class="btn btn-lg btn-primary mb-3">Voir Profil</a>
        <a href="{{ path('app_logout') }}" class="btn btn-lg btn-danger">Déconnexion</a>
    </div>

{% endblock %}
